# all python cache files
**/__pycache__
**/*.pyc
**/*.pyo

# log and ckpt files
/logs/
/checkpoints/
/.vscode/
**/*.pt

# your own scripts, pull once and never track again
test_ds_example.sh
test_fg_example.sh