# Ignore all files and directories
*

# Explicitly track specific directories and their contents
!clip/
!data/
!ttabc/configs/
!ttabc/model_selection/
!ttabc/utils/

# Ignore specific files and directories
__pycache__/
*.pyc
*.pyo

# Explicitly track individual files
!main.py
!LICENSE
!README.md
!requirements.txt
!test_ds_example.sh
!test_fg_example.sh
!.gitignore